<a href="/#/allSessions">
    <button class="btn btn-default review-page-button pull-right">Back to All Sessions</button>
</a>

<h1 class="review-page">Reviews</h1>

<div class="review-container" ng-repeat="review in reviews">
    <h2 class="schedule-box">Session Title: {{review.sessiontitle}}</h2>
    <h3 class="schedule-box">Session Speaker: {{review.sessionspeaker}}</h3>
    <div class="review-content">
        <h4><span class="schedule-box">Reviewer Name:</span> {{review.username}}</h4>
        <h4><span class="schedule-box">Reviewer Email:</span> {{review.useremail}}</h4>
        <p><span class="schedule-box">What they liked:</span> {{review.likefeedback}}</p>
        <p><span class="schedule-box">What they Didn't LIke:</span> {{review.dislikefeedback}}</p>
        <p><span class="schedule-box">Other Comments:</span> {{review.generalfeedback}}</p>
    </div>
</div><!--/row-->