<h4 class="review-page">Questions for Session {{session.title}}</h4>

<a href="/#/allSessions">
    <button class="btn btn-default review-page-button ">Back to All Sessions</button>
</a>
<button class="btn btn-default review-page-button " ng-click="startGettingQuestions()">Start Live Call</button>
<button class="btn btn-default review-page-button " ng-click="stopGettingQuestions()">Stop Live Call</button>

<div style="margin-bottom: 10px">

</div>



<div class="review-container" ng-repeat="question in questions">
    <div class="review-content">
        <h4><span class="schedule-box">Question: </span> {{question.question}}</h4>
    </div>
</div><!--/row-->